PORT=3001
NODE_ENV=development
DATABASE_URL="file:./dev.db"
JWT_SECRET="campusconnect_super_secret_jwt_key_2026_change_in_production"
JWT_EXPIRES_IN="7d"
CORS_ORIGIN="http://localhost:5173"
ROBOT_TOKEN="campusconnect_robot_secure_token_98765"
RPI_BASE_URL="http://10.78.161.184:5000"
